body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#player, #dealer {
    background-image: url("https://i.imgur.com/2M95s6q.png");
}

.player-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    height: 20vh;
    width: 80%;
    background-image: url("https://i.imgur.com/TXGiwM9.jpeg");
}

.dealer-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    height: 20vh;
    width: 80%;
    background-image: url("https://i.imgur.com/TXGiwM9.jpeg");
}

.card {
    margin: 0 10px;
}

#center-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#center-container>div:last-child {
    margin-left: auto;
}

#center-container>div:first-child {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#house {
    width: 100%;
    border: 1px solid black;

}

#player {
    width: 100%;
    border: 1px solid black;
}